html{
	height: 100%;
}

body{
	background-color: #e2e3e3;
	width: 300px;
	margin: auto;
	height: 100%
}

button{
	margin-left: 100px;
	margin-top: 20px;
	width: 100px; 
}

caption{
	margin: 20px auto;
}

.ttt_Table{
	margin: auto;
	width: 300px;
	height: 300px;
	background-color: white;
}

.ttt_row1,
.ttt_row2,
.ttt_row3 {
	height: 100px;

    width: 300px;
    margin: 0px;
    padding: 0px;

    text-align: center;
}

.ttt_row1 td,
.ttt_row2 td,
.ttt_row3 td{
	margin: 0;

    padding: 0;
    height: 100px;
    width: 100px;
    border: none;
    line-height: 100px;
    cursor: pointer;

    text-align: center;

	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.ttt_row1 td:last-child,
.ttt_row2 td:last-child,
.ttt_row3 td:last-child {
	border-right: none;
}

.ttt_row1{

}

.ttt_row1 td{
	
}

.ttt_row2{
	
}

.ttt_row2 td{
	
}

.ttt_row3{
	
}

.ttt_row3 td{
	border-bottom: none;
}

.clicked{
	cursor: default !important;
	background-color: #e3e3e3;
}