<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 21</title>
	<style>
	body{
		width:600px;
		margin: auto;
		font-family: sans-serif;
		text-align: center;
	}
	li{
		text-align: left;
		padding-bottom: 1em;
	}
	</style>
</head>
<body>
	
	<h2>What are You interested in?</h2>

	<form action="#">
		<p>
			<input type="text" name="q" id="q"></input>
		</p>
	</form>

	<ul class="tweets"></ul>

	<script src="jquery-2.1.1.js"></script>
	<script>
		(function($){

			var o = $({});

			$.each({
				trigger:'publish',
				on: 'subscribe',
				off: 'unsubscribe'
			}, function(key, val){
				jQuery[val] = function(){
					o[key].apply(o, arguments);
				};
			});

		})(jQuery);

		
		(function($){

			var Twitter = {
				init: function(){
					this.template = '<li>{{tweet}}</li>';
					this.query = '@tutspremium';
					this.tweets = [];
					this.timer = 0;

					this.cache();
					this.bindEvents();
					this.subscriptions();

					this.searchInput.val(this.query);
					$.publish('twitter/query');

					return this;

				},

				cache: function(){
					this.container = $('ul.tweets');
					this.searchInput = $('#q');
				},

				bindEvents: function(){
					this.searchInput.on('keyup', this.search);
				},

				subscriptions: function(){
					$.subscribe('twitter/query', this.fetch);
					$.subscribe('twitter/results', this.renderResults);
				},

				search: function(){
					var self = Twitter,
						input = this;

					clearTimeout(self.timer);

					self.timer = (input.value.length >= 3) && setTimeout(function(){
						self.query = input.value;
						$.publish('twitter/query');
					}, 400);
				},

				fetch: function(){
					var url = 'http://jquery.php54.moj.nexus-developer.com/lesson21/twitter-api/auth.php?callback=?&q=';
					
					return $.get( url + Twitter.query , function( data ) {
						Twitter.tweets = data.statuses;
						$.publish('twitter/results');
					});
				},
				
				renderResults: function() {
					var self = Twitter,
						frag = [],
						tweet;

					self.container.html(
						$.map(self.tweets, function(obj, index){
							console.log(obj);
							var t = 
								obj.text.replace(/(http:[^\s]+)/, '<a href="$1">$1</a>')
										.replace(/@([^\s]+)/, '<a href="http://twitter.com/$1">@$1</a>')
											;

							return self.template.replace(/{{tweet}}/, t);
						}).join('')
					);
				}
			};

			window.Twitter = Twitter.init();
		})(jQuery);

	</script>
</body>
</html>