<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 17</title>
</head>
<body>
	
	<script id=blogTemplate type=tuts/template>
		<h2>{{title}}</h2>
		<img src={{thumbnail}} alt={{title}}>
	</script>

	<script src="jquery-2.1.1.js"></script>
	<script>
		(function(){

			var content = [
				{
					title: 'My awesome blog post',
					thumbnail: 'http://static.tutsplus.com/assets/home/featured-instructors/featured_CRS-200047-b5610d440e53b20ce018dbc65a35f3db.jpg',
				},
				{
					title: 'My second blog post',
					thumbnail: 'http://static.tutsplus.com/assets/home/featured-instructors/featured_CRS-200054-c69216b34e61d36331d391b110172427.png'
				}
			],
				template = $.trim($('#blogTemplate').html()),
				frag = '';

			$.each(content, function(index, obj) {
				frag += 
					template.replace(/{{title}}/ig, obj.title)
							.replace(/{{thumbnail}}/ig, obj.thumbnail);
				
			});

			$(document.body).append(frag);

		})();
	</script>
</body>
</html>