body{
	background: #e3e3e3;
	font-family: helvetica, arial;
}

.wrap{
	margin: auto;
	width:500px;
}

blockquote {
	border: 1px solid white;
	width: 500px;
	text-align: center;
	margin-left: 0;
	display: block;
}