<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 19</title>
	<style>
		body{
			width: 600px;
			margin: 0 auto;
		}
		ul{
			list-style: none;
		}
		li{
			padding-bottom: 1em;
		}
		img{
			float:left;
			padding-right: 1em;
		}
		a{
			text-decoration: none;
			color:#333;
		}
	</style>
</head>
<body>

	<ul class="tweets">
		<script id="tweets-template" type="text/x-handlebars-template">
			{{#each this}}
			<li>
				<img src="{{thumb}}" alt="{{author}}">
				<p><a href="{{url}}">{{tweet}}</a></p>
			</li>
			{{/each}}
		</script>
	</ul>
	

	<script src="jquery-2.1.1.js"></script>
	<script src="handlebars-v2.0.0.js"></script>
	<script>
		(function(){

			var Twitter = {
				init: function(config){
					this.url = 'http://jquery.php54.moj.nexus-developer.com/lesson19/twitter-api/auth.php?q=' + config.query + '&callback=?';
					
					this.template = config.template;
					this.container = config.container;
					this.fetch();

				},

				fetch: function(){
					var self = this;
					$.get( this.url, function( data ) {
						self.tweets = $.map( data.statuses , function( tweet ) {
							return {
								author: tweet.user.screen_name,
								tweet: tweet.text,
								thumb: tweet.user.profile_image_url,
								url: 'http://twitter.com/' + tweet.user.screen_name + '/status/' + tweet.id_str
							};
						});
						console.log(self.tweets);
						 
						self.attachTemplate();
					});
				},
				
				attachTemplate: function() {
					var template = Handlebars.compile( this.template );

					this.container.append( template( this.tweets ) );

				}
			}

			Twitter.init({
				template: $('#tweets-template').html(),
				container: $('ul.tweets'),
				query: 'swag'
			});
		})();
	</script>
</body>
</html>