html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #D4E6F4;
    font-size: 13px;
    line-height: 15px;
}

img{
    border:none;
}

table, tr, td{
    border-collapse: collapse;
    vertical-align: top;
    font-size: 13px;
    line-height: 13px;
    line-height: 15px;
}

a{
    color: #8D0D19;
}

#header{
    height: 70px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background: #1A446C;
    color: #D4E6F4;
}

#header h1{
    padding: 1em;
    margin: 0px;
}

#main{
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
    background: #EEE4B9;
}

#structure{
    height: 600px;
    width: 100%;
}

#footer{
    height: 2em;
    margin: 0px;
    padding: 1em;
    text-align: center;
    background: #1A446C;
    color: #D4E6F4;
}

/* NAV */

#navigation{
    width: 150px;
    padding: 1em 2em;
    color: #D4E6F4;
    background: #8D0D19;
}

#navigation a{
    color: #D4E6F4;
    text-decoration: none;
}

ul.subjects{
    padding-left: 0;
    list-style: none;
}

ul.pages{
    padding-left: 2em;
    list-style: square;
}

.selected{
    font-weight: bold;
}

#page{
    padding-left: 2em;
    vertical-align: top;
    background: #EEE4B9;
}

#page h2{
    color: #8D0D19;
    margin-top: 1em;
}

#page h3{
    color: #8D0D19;
}
