
/* User Control */

#page ul li{
    margin-bottom: 10px;
    list-style: none;
    background: #e3e3e3;
    width: 500px;
    padding: 15px;
}

#page ul li span{
    display: inline-block;
    width: 400px;
}

#page ul li a{
    font-weight: bold;
}