a {
	color: red;
	text-decoration: none;
}

h1{
	font-family: helvetica, sans-serif, arial;
}

div{
	width:500px;
	margin: auto;
	background: grey;
}

#emphasis{
	color:red;
}

.mepa{
	color:green;
}

li:nth-child(2){
	color:orange;
}