<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson 18</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<ul class="tweets">
		<script id="template" type="text/x-handlebars-template">
			{{#each this }}
			<li>
				<h2>{{fullName author}}</h2>
				<p>{{{tweet}}}</p>

				{{#unless quote}}
					<h5>Author is not have a quote.</h5>
				{{/unless}}
			</li>
			{{/each}}
		</script>
	</ul>
	

	<script src="jquery-2.1.1.js"></script>
	<script src="handlebars-v2.0.0.js"></script>
	<script>
		(function(){

			var data = [
				{
					author: {first: "Jeffrey", last: "Way", age: 27},
					tweet: "30 Days to Learn jQuery Rocks"
				},
				{
					author: {first: "Moritz", last:"Jung", age: 18},
					tweet: "30 Days to Learn jQuery Rocks"
				}
			];

			Handlebars.registerHelper("fullName", function(author){
				return author.first + " " + author.last + " - " + author.age;
			});

			var template = Handlebars.compile( $('#template').html() );

			$('ul.tweets').append(template(data));

		})();
	</script>
</body>
</html>