.wrap{
	width: 600px;
	margin: auto;
}

.content, aside{
	height: 600px;
}

.content{
	float: left;
	width: 450px;
}

aside{
	float: left;
}

aside ul{
	list-style: none;
	padding-left: 0;
}

footer{
	float: clear;
}