/** miscellaneous **/

.container_24{
	margin-top: 10px;
}

blockquote{
	position: relative;
}

blockquote, blockquote p {
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
	color: #0e0e0e;
}

p{
	font-size: 13px;
	line-height: 20px;
	color: #353535;
}

h1, h2{
	letter-spacing: -1px;
}

h3{
	font-size: 26px;
	text-transform: lowercase;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 1em;
}

a{
	color: #7e7e7e;
	text-decoration: none;
}

a:hover, .selected{
	color: black;
}

.button{
	background: #242324;
	padding: 6px;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
}

.button:hover{
	color: white;
	background: black;
}

li{
	margin-left: 24px;
}



/** HEADER **/

header{
	overflow: hidden;
}

header h1{
	text-indent: -99999px;
	float: left;
	margin-bottom: 0;
}


header h1 a{
	background: url(../img/logo.png) no-repeat;
	width: 174px;
	height: 23px;
	float: left;
	margin: 10px 10px 18px;
}

/** NAVIGATION **/

nav {
	float: right;
	padding-top: 12px;
	margin-right: 5px;
}

nav li {
	display: inline;
}

nav a{
	text-transform: lowercase;
}
/** BANNER **/

.banner{
	background: url(../img/city-bg.jpg) no-repeat;
	width: 695px;
	height: 231px;
	position: relative;
}

.banner h2{
	width: 420px;
	position: absolute;
	bottom:-8px;
	left: 8px;
}

.banner h2 p{
	color: white;
	font-size: 28px;
	background: rgba(0,0,0, 0.4);
	font-weight: normal;
	display: inline;
	padding: 0px 7px;
}

.callout{
	background: grey;
	height: 231px;
}

/** MAIN **/

.main {
	margin-top: 20px;
}

.main blockquote p{
	padding-left: 30px;
}

.main blockquote p:first-child:before,
.main blockquote p:last-child:after {
	color: #bfbfbf;
	font-size: 40px;
	font-style: italic;
}

.main blockquote p:first-child:before {
	content:'“';
	position: absolute;
	top: 7px;
	left: 0;
	}

.main blockquote p:last-child:after {
	content:'”';
	float: right;
	position: absolute;
	bottom: -7px;
	right: 0;
}


/** FOOTER **/
footer{
	clear:both;
	border-top: 1px solid #d1d1d1;
	padding-top: 18px;
	margin-top: 30px;
}

/** WORK **/

.work h2,
.work h4 {
	font-weight: normal;
	font-size: 26px;
}

.work h2{
	margin-bottom: 0;
}

.work h4{
	color: #787878;
	line-height: 1.2em;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 33px;
	margin-bottom: 30px;
}

.work img{
	margin-bottom: 20px;
}
