body{
	background: #666;
}

h1{
	font-size: 60px;
	text-align: center;
	margin-top: 50px;
	font-family: 'Ubuntu Mono', sans-serif;
	letter-spacing: -5px;
	color: black;
	text-transform: lowercase;
	text-shadow: 
		5px -1px 0 white,
		6px -2px 0 red;

}