.slider_viewer{
    height: 242px;
    width:883px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}



.slider_viewer ul{
    list-style: none;
    width: 10000px;
    margin: 0 0 0 0px;
    height: 242px;
    float: left;
    border: none;
}

.slider_viewer li{
    float: left;
    padding: 0;
    margin: 0 ;
    border: none;
}

.slider_viewer ul:hover,
.slider_viewer li:hover {
    border: none;
}

.nav {
    cursor: pointer;
}

.preNavIndi {
    position: absolute;
    bottom: 2px;
    right: 0px;
    height: 0;
    width: 0px;
    border-bottom: 30px solid rgb(38,38,38);
    border-left: 19px solid transparent;
}

.navIndi {
    position: absolute;
    bottom: 2px;
    right: 0;
    background-color: rgb(38,38,38); 
}

.bulletIndi {
    border-radius: 15px;
    width: 15px;
    height: 15px;
    float: left;
    margin: 8px 3px 7px 2px;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

.bulletIndi:last-child {
    margin: 8px 10px 7px 2px;
}

.bulletIndi.active{
    background-color: rgb(151,193,31) !important;
}