body{
	margin: 0;
}

.wrap{
	width: 800px;
	height: 1000px;
	margin: auto;
	background: #e3e3e3;
	position: relative;
}

.box{
	width: 400px;
	height: 400px;
	background: grey;
	margin: auto;
	position: absolute;
	top: 20px;
	left: 40px;
}