body{
	margin: auto;
	background: url(../img/bg-img.jpg) no-repeat;
	font-family: 'Nova Flat', helvetica, sans-serif;
	position: relative;
}

/** WRAPPER **/

.wrapper{
	width: 960px;
	margin: auto;
	z-index: 2;
}

.wrapper_slider{
	width: 100%;
	background: white;
	background: rgba(255,255,255, 0.8);
	margin: 110px 0 20px;
	padding-bottom: 20px;
	padding-top: 30px;;
}

/** HEADER **/

.header{
	z-index: 999999;
	position: absolute;
	top: -90px;
	overflow: hidden;
	height: 100px;
	width: 100%;
	background: url(../img/header-bg.jpg) no-repeat center top;
}
.header .inner {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.header h1{
	text-indent: -9999999px;
	float: left;
	margin: 12px 0 13px 20px;
}

.header h1 a{
	background: url(../img/logo_24.png) no-repeat;
	width: 189px;
	height: 75px;
	float: left;
}




/** ul NAVIGATION **/

ul {
	float: right;
	padding-left:         0;
	margin:         25px 20px 25px 0px;
	height:         50px; /* Standard syntax; must be last */
}

ul li {
	display: inline;
	text-decoration: none;
	color: white;
	padding: 18px 0px 16px 0px;
	background-color: #282828; /* fallback color if gradients are not supported */
	background-image: -webkit-linear-gradient(bottom, rgb(19,19,19) 30%, rgb(58,58,58)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient(bottom, rgb(19,19,19) 30%, rgb(58,58,58)); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient(bottom, rgb(19,19,19) 30%, rgb(58,58,58)); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient(to top, rgb(19,19,19) 30%, rgb(58,58,58)); 
	font-size: 15px;	
	float: left;
	border-right: 1px solid rgb(33,33,33);
	border-left: 1px solid rgb(69,69,69);
	box-sizing: border-box;
	height: 50px;
	line-height: 1em;
	border-bottom: 3px solid rgb(19,19,19);
}

ul a:first-child li{
	border-left: none;
}

ul a:last-child li{
	border-right: none;
}

ul a{
	color: white;
	text-decoration: none;
	background: none;
	padding: 0;
	float: left;	
}

ul .selected li, ul li:hover{
	border-bottom: 3px solid #96c11f;;
}

ul .selected li,
ul a:hover li {
	color: #96c11f;
}

li.home{
	width: 98px;
	padding-left: 20px;
	letter-spacing: -0.7px;
}

li.references{
	width: 106px;
	padding-left: 16px;
	letter-spacing: -0.7px;

}

li.agency{
	width: 86px;
	padding-left: 19px;
	letter-spacing: -0.8px;

}

li.contact{
	width: 86px;
	padding-left: 17px;
	letter-spacing: -1.0px;;
}
/** SLIDER **/

.slider{
	clear: both;
	position: relative;
	width: 1005px;
	margin: auto;

}

.slider_content{
	width: 883px;
	margin: auto;
	background: #fff;
	height: 240px;
	position: relative;
	box-sizing: border-box;
}

.slider_content .slider_text{
	border: none;
	width: 282px;
	height: 197px;
	box-sizing: content-box;
	padding-left: 33px;
	padding-top: 43px;
}

.slider_content .slider_text h2{
	margin-bottom:5px;
	line-height:1em;
}

.slider_content .slider_text p{
	margin: 0px 0 13px 0;
	line-height: 1.2em;
}

.slider_content .slider_text p.link{
	margin: 0px 0 15px 0;
	line-height: 1.3em;
}


.slider_content .slider_img{
	right: 0px;
	position: absolute;
	bottom: 0px;
	height: 240px;


}

.arrow_left, 
.arrow_right {
	width: 50px;
	height: 125px;
	position: absolute;
}

.arrow_left{
	top: 59px;
	left: 2px;
}

.arrow_right{
	top: 59px;
	right: 0;
}

/** CONTENT **/

.content{
	clear: both;
	overflow: hidden;
	background: #FFF;
	padding-bottom: 24px;;

}

/** PRIMARY **/

.primary{
	padding-left: 19px;
	padding-right: 20px;
	padding-top: 21px;
	background: url(../img/primary_bg.png) repeat-x;
	height: 169px;
	box-sizing: border-box;
}

.primary p{
	width: 555px;
	margin:0px;
	margin-bottom: 15px;
	line-height: 1.2em;
}

.primary h1{
	margin:0;
	line-height:1em;
	margin-bottom:7px;
	margin-top:-3px;
}

/** CONTAINER 1 **/

.container_1{
	width: 481px;
	padding-left: 19px;
	border-right: 1px solid #dedede;
	float: left;
	padding-right: 10px;
	box-sizing: border-box;

}

/** CONTAINER 2 **/

.container_2{
	width: 479px;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box;
}

/** CONTAINER 1&2 **/

.container_1,
.container_2 {
	height: 350px;
}

.container_1 div:first-child,
.container_2 div:first-child {
	overflow: hidden;
	width: 450px;
	height: 150px;
}



.container_1 div:first-child p,
.container_2 div:first-child p{
	float: left;
	display: inline;
	width: 210px;
	margin-left: 20px;
	margin-bottom: 16px;
	margin-top: 0;
	line-height: 1.2em;
}

.container_1 div:first-child p.preview_img,
.container_2 div:first-child p.preview_img{
	float: left;
	height: 130px;
	background: #dedede;
	width: 200px;
	margin: 0;
}

.container_1 div h2, 
.container_2 div h2{
	margin-top: -3px;
	font-weight: 400;
	float: left;
	box-sizing: border-box;
	letter-spacing: -2px;
	margin-left: 20px;
	font-size: 20px;
	margin-bottom: 5px;
	line-height: 1em;
}
.container_1 div.content_small,
.container_2 div.content_small {
	width: 386px;
	height: 70px;
}

.container_1 div.content_small p,
.container_2 div.content_small p {
	margin:0;
}

.container_1 div.content_small h3,
.container_2 div.content_small h3 {
	letter-spacing: 0px;
}


/** FOOTER **/

.footer{
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;

}

.footer_content{

	background: #babcc0;
	overflow: hidden;
	padding: 0px 10px 0px 20px;
	height: 45px;
	box-sizing: border-box;
}

.footer .footer_img{
	background: url(../img/footer-bg.png) no-repeat;
	width: 960px;
	height: 125px;
	margin: 0;

}

.footer .footer_content .logo{
	float: left;
	text-indent: -999999px;
	background: url(../img/logo-footer_24.png) no-repeat;
	width: 92px;
	height: 37px;
	margin-top: 2px;;

}

.footer .footer_content .footer_info{
	display: block;
	color: #313131;
	font-size: 11px;
	padding-top: 11px;

	float: left;
	line-height: 1.2em;
	height: 32px;
	box-sizing: content-box;
}

.footer .footer_content .footer_info.feld_1{
	margin: 0 0 0 37px;
	width: 146px;
	letter-spacing: -0.30px;
}

.footer .footer_content .footer_info.feld_2{
	margin: 0 0px 0 67px;
	width: 132px;
	letter-spacing: -0.08px;
}

.footer .footer_content .footer_info.feld_3{
	margin: 0 0px 0 40px;
	width: 140px;
	letter-spacing: 0.05px;	
}

/** HEADINGS **/

h1, h2, h3, h4 {
	color: #96c11f;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: -2px;
	margin-bottom: 0px;
}

h1{
	font-size:28px;
}

h2{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 10px;
}

h3{
	font-size:13px;
	margin-bottom:10px;
	line-height:1em;
	margin-top:0;
}

p{
	font-size: 13px;
	color: #383838;
	font-family: Arial, sans-serif;
	margin-top: 10px;
	line-height: 1.3em;
	font-weight: 400;
}

/** ANCHORS **/

a {
	color: #96c11f;
	text-transform: none;
	background: url(../img/arrow-link-small_24.png) no-repeat;
	background-position: 0px 2px;
	padding-left: 13px;;
}

a:before {
	color: #96c11f;
	text-transform: none;
}
