form li {
	list-style: none;
	margin-bottom: 20px;
}

label{
	display: block;
	cursor: pointer;
	font-family: sans-serif;
	padding-bottom: 8px;
	color:#838383;
}

form ul{
	padding-left: 0px;
}

textarea {
	width: 400px;
	height: 200px;
}